[2022-11-05 15:53] Caleb-Cohen opened #1 "test to do"

[2022-11-05 16:41] intelagense opened #2 "Update readme to give a better description of what Together is"

[2022-11-05 17:38] Caleb-Cohen commented on #2
@intelagense, what do you think of the re-do?

[2022-11-05 17:47] intelagense commented on #2
So far, so good. 👍

[2022-11-05 17:47] #2 closed

[2022-11-05 17:56] intelagense opened #3 "add CONTRIBUTING.md and instructions"
@Caleb-Cohen you can include a link to the "CONTRIBUTING.md" in "README.md" as well.

[2022-11-05 20:03] #3 closed

[2022-11-05 21:11] JoeDravarol opened #5 "Import calendar into views"
![image](https://user-images.githubusercontent.com/48932159/200141240-b63183d2-0739-494b-8715-c27961e8663f.png)

# Task
* Convert the [codepen](https://codepen.io/robstinson/pen/BaKOZry) template provided to React components

## Questions
* Should it be a static UI at the current stage or are there any dummy data to populate the each day to show the events?
* Should the view folder be replaced wit

[2022-11-05 22:00] JoeDravarol commented on #5
As per discussed on Discord for the task on this issue:

I would like to be assigned this issue.

[2022-11-05 22:35] Caleb-Cohen commented on #5
@JoeDravarol foe the design. Are you building it yourself or are you using the template provided in the link?

[2022-11-05 23:13] JoeDravarol commented on #5
I would be using the codepen template you provided.
If that's okay can I start working on this issue?

[2022-11-05 23:59] Caleb-Cohen commented on #5
Yes that works!

Sent from my iPhone

On Nov 5, 2022, at 6:13 PM, Joe Lee ***@***.***> wrote:

﻿

I would be using the codepen template you provided.
If that's okay can I start working on this issue?

—
Reply to this email directly, view it on GitHub<https://github.com/Caleb-Cohen/Together/issues/5#issuecomment-1304661914>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AR6IATRJP

[2022-11-06 00:47] intelagense commented on #5
Got you assigned @JoeDravarol 👍

[2022-11-06 00:51] intelagense opened #7 "Create event addition form to submit event event objects to database"
Might have to update the model at the same time.

[2022-11-06 00:52] InstincDev commented on #7
I will complete this task.

[2022-11-06 00:59] intelagense commented on #7
I added a whiteboard, discussion #9 , for reference

[2022-11-06 01:38] JoeDravarol commented on #5
![image](https://user-images.githubusercontent.com/48932159/200149920-c34640c3-c8cd-4ad0-a5e5-d34843d8a57c.png)

@Caleb-Cohen I have managed to convert the codepen template into React components. (Screenshot provided above)

Right now there is no functionality, it's all static. Is there anything else you would like me to add/do for this issue?

[2022-11-06 01:41] Caleb-Cohen commented on #5
No. This task is completed we’ll add interactivity to the task list. Great work!

Sent from my iPhone

On Nov 5, 2022, at 8:39 PM, Joe Lee ***@***.***> wrote:

﻿

[image]<https://user-images.githubusercontent.com/48932159/200149920-c34640c3-c8cd-4ad0-a5e5-d34843d8a57c.png>

@Caleb-Cohen<https://github.com/Caleb-Cohen> I have managed to convert the codepen template into React components. (Screensho

[2022-11-06 01:42] JoeDravarol commented on #5
Great, I'll open a PR for this issue.

[2022-11-06 22:25] #5 closed

[2022-11-06 22:25] Caleb-Cohen commented on #1
no longer needed.

[2022-11-06 22:25] #1 closed

[2022-11-06 22:35] Caleb-Cohen opened #12 "Event Schema added to models"
I'll take this on.

[2022-11-06 22:41] JoeDravarol opened #13 "Calendar Views interactability"
# Task
* Shows current months and can click for future months.

I like to work on this issue.

[2022-11-07 00:32] Caleb-Cohen commented on #7
@InstincDev I've created the eventSchema. Would love your thoughts! Issue related for discussion can be found at #12 I've created a branch called Schema as well that includes the information.

[2022-11-07 00:37] Caleb-Cohen commented on #13
Got it!

[2022-11-07 02:26] Caleb-Cohen commented on #13
Knocked it out of the park! Great work!

[2022-11-07 02:26] #13 closed

[2022-11-07 21:58] BCarrico opened #19 "Adding discord authentication"
I'll take a shot at it :-D

[2022-11-07 22:30] Caleb-Cohen commented on #19
You got it!

[2022-11-07 23:52] BCarrico commented on #19
See pull request. Base functionality completed. Now it's time to get fancy with it!

[2022-11-07 23:52] #19 closed

[2022-11-08 17:30] Caleb-Cohen opened #22 "Create User Schema"
Creating an issue for creating user schema.

[2022-11-08 17:31] Caleb-Cohen commented on #22
@yuhwaa doesn't look like I can assign you.

[2022-11-08 19:04] yuhwaa commented on #22
@Caleb-Cohen thanks for opening the issue — I think you should be able to assign it after this comment.

[2022-11-08 19:41] Caleb-Cohen commented on #22
Perfect @yuhwaa it's all yours!

[2022-11-09 01:53] yuhwaa commented on #22
Thank you! Noting discussion #9 for reference.

[2022-11-09 04:26] yuhwaa commented on #22
User Schema updated at #23

[2022-11-10 05:26] #12 closed

[2022-11-10 05:27] #7 closed

[2022-11-10 05:27] #22 closed

[2022-11-10 05:27] Caleb-Cohen commented on #22
Thank you! @yuhwaa

[2022-11-10 11:01] JoeDravarol opened #27 "Have discord pass back the user data. Use schema to create user within database."
# Task
* Refactor login with Discord button into a component to improve project structure.
* Pass user data from React/Discord to backend.
* Create user within database on backend.

I would like to take a stab at this issue.

[2022-11-10 13:07] Caleb-Cohen commented on #27
All yours!

[2022-11-10 16:38] yuhwaa commented on #22
🙏🏻

[2022-11-11 03:58] JoeDravarol opened #29 "Quality of Life Updates"
This issue will be used for tracking any Quality of Life update/Improvement. An issue should be created for each task referencing back to this issue. (`Example: #30`)
# Task
- [x] Update README to show examples of the prerequisites API keys needed for working with Backend. Create a `.env.example` in to config folder. #30
- [x] Add a new scripts to `package.json` to reduce the amount of commands ne

[2022-11-11 14:06] intelagense opened #30 ".env.example"
Add an example .env file that isn't ignored by git.
The file will contain placeholder information for the developers to reference when creating their .env file.

[2022-11-11 14:31] JoeDravarol commented on #30
Can combine this issue with issue #29.

[2022-11-11 17:00] Caleb-Cohen opened #31 "Clean up repo (i.e .ejs file removal)"

[2022-11-11 17:01] Caleb-Cohen opened #32 "Import tasks into MVP project"
- update Readme to be more clear
- add all tasks to project board

[2022-11-11 17:02] Caleb-Cohen commented on #32
Working on it!

[2022-11-11 17:10] Caleb-Cohen commented on #30
in semi-related to this issue I updated readme to have all the variables.

[2022-11-11 17:14] Caleb-Cohen commented on #29
I added it to the project!

[2022-11-11 17:15] Caleb-Cohen commented on #31
This was already created in #29 my bad.

[2022-11-11 17:15] #31 closed

[2022-11-11 17:23] Caleb-Cohen commented on #29
I added an .ENV example. Can you expand on the first bit regarding examples of API keys?

[2022-11-11 17:32] JoeDravarol commented on #29
Apologies I did not make it clear. It was to include the Discord API keys: DISCORD_CLIENT_ID and DISCORD_CLIENT_SECRET in the README. Which you have updated to reflected that in the *Thing to add* section and also created an `.env.example`. I will mark that task as completed if that's okay?

[2022-11-11 17:34] Caleb-Cohen commented on #29
Yes, you can mark it completed. I thought you meant actual examples, but that makes sense. We could probably include the client_ID as that's publicly available. I think we both agree to not make the secret public.

[2022-11-11 17:36] JoeDravarol commented on #29
I think the difficult part is just setting it up for the project after that, it'll automatically work after npm install. I could be wrong, need to do a bit of research first.

[2022-11-11 17:47] JoeDravarol commented on #29
Removing the Procfile shouldn't impact Cyclic, I believe it's only used for Heroku.

[2022-11-11 18:36] Neoneoexe opened #33 "Refactoring old code"
A work in progress, managed to refactor some of the code and divide into sub folders, add node engines for specific nodejs version
 to 16.10.0

[2022-11-11 23:56] Caleb-Cohen commented on #29
@neoneoexe this is the issue to discuss file cleanup.

[2022-11-12 00:00] Caleb-Cohen commented on #30
This was completed.

[2022-11-12 00:00] #30 closed

[2022-11-12 00:02] Caleb-Cohen opened #35 "Complete Event Addition Form"

[2022-11-12 00:03] Caleb-Cohen opened #36 "Have Event Addition Form Send Objects to Database"

[2022-11-12 00:04] Caleb-Cohen opened #37 "Have Discord Pass Back the User Data to the Database"

[2022-11-12 00:04] #37 closed

[2022-11-12 00:04] Caleb-Cohen opened #38 "Visualize Event Objects for Corresponding Days"
Placeholder for discussion

[2022-11-12 00:31] Caleb-Cohen commented on #35
@MatthewBozin

[2022-11-12 00:31] Caleb-Cohen commented on #36
#35

[2022-11-12 00:31] #36 closed

[2022-11-12 00:32] MatthewBozin commented on #35
I'll take this on!

[2022-11-12 01:13] Caleb-Cohen opened #40 "Import Together Favicon"

[2022-11-12 01:13] Caleb-Cohen commented on #40
let's go get

[2022-11-12 04:12] Caleb-Cohen commented on #33
I am excited to see what concepts you come up with here! One potential concern I have is @intelagense, and I choose BuB/MVC because it's a format we've all worked work and is accessible.

Will these changes be approachable to someone with only BuB experience? What will some of these changes allow us to do that BuB/MVC do not?

[2022-11-12 05:01] MatthewBozin commented on #35
### Status Update
Built entire flow from: React button press -> data handler axios POST request -> server processing the request -> creating event document in DB

AND IT WORKS! :D

find it in branch: 35-complete-event-addition-form

### Changes

Misc:
- Fixed some bugs that were preventing app from running.

Frontend:
- Created dataHandler.js in front end as a single point of interaction between f

[2022-11-12 05:04] Caleb-Cohen commented on #35
@MatthewBozin Great work! Do you want to PR what's been done now to main or wait until the other "What still needs to be done" is completed?

[2022-11-12 05:05] Caleb-Cohen opened #42 "React Login/Auth"
Reserving for discussion.

[2022-11-12 05:17] MatthewBozin commented on #35
I'll PR to add-event-form so you can look it over. Probably best to get a second set of eyes on it before it hits main!

[2022-11-12 05:18] Caleb-Cohen commented on #35
Good point will do.

[2022-11-12 14:15] JoeDravarol commented on #35
@MatthewBozin Nice work! Whenever you're free, could you screenshot or show an example of what you mean by the `date` and `createAt` fields in the Event document coming out janky?

[2022-11-12 14:23] JoeDravarol opened #44 "Cleanup/remove BOB templates"
This issue is part of the ongoing Quality of Life updates #29.

# Task
* Remove views folder which contains all the EJS files.
* Remove public folder which contains BuB favicons and other assets.

[2022-11-12 14:37] JoeDravarol commented on #44
@Caleb-Cohen I've added the third task `Remove the BOB favicon, and remove mention of BUB and 100 Devs social network.` as it was in the README MVP. Hope that is okay?

Also, just for clarification, are we removing everything that was part of the `BUB template and 100 Devs social network` for the third task: `Remove the BOB favicon, and remove mention of BUB and 100 Devs social network.` If that i

[2022-11-12 14:48] JoeDravarol commented on #44
Removing the third task, to keep this issue simple and easy for new contributor to work on.

[2022-11-12 15:14] Caleb-Cohen commented on #44
They can be separate tasks.

[2022-11-12 15:15] Caleb-Cohen commented on #40
Done

[2022-11-12 15:15] #40 closed

[2022-11-12 15:15] Caleb-Cohen commented on #35
I can pull that shortly. I was planning on taking a look at the branch later today.

[2022-11-12 15:21] Caleb-Cohen commented on #29
I want to mention some of these tasks are also in #44. That's ok, just wanted to reference that.

[2022-11-12 16:05] Caleb-Cohen commented on #44
Number 1 is attempting to be addressed in #45

[2022-11-12 16:31] Caleb-Cohen commented on #35
@JoeDravarol I was able to get it running, but I had to run the server on local host 8000 and set the whitelist to 8000 otherwise I got a CORS error. Here's what the object looks like. I don't have the same concerns about date and created at being janky, just looks ISO 8601 formatting.

<img width="317" alt="Screen Shot 2022-11-12 at 10 31 23 AM" src="https://user-images.githubusercontent.com/7526

[2022-11-12 17:02] MatthewBozin commented on #35
Great! I must just not be familiar with that format!

[2022-11-12 19:56] code2244 commented on #44
Hi everyone, if the issue is not taken, I will like to do this one.

[2022-11-12 21:40] Caleb-Cohen commented on #44
@code2244 hold off just a bit we have #46 that's addressing some of these issues that we are working through and don't want you to double work on something that's already been done.

[2022-11-12 21:53] JoeDravarol commented on #44
I took a look at #46 everything related to EJS has not been removed yet. This issue/tasks still stands and can be contribute to. Though it is better to hold off on this issue like you said until we have merge the outstanding PRs to prevent conflicting issues.

[2022-11-12 21:55] Caleb-Cohen opened #48 "Assess Event Model for time start, time end, and end date."
Just needing to put down a note for myself to assess the event model. We will need to add an end date again.

[2022-11-12 23:13] #27 closed

[2022-11-13 23:26] Caleb-Cohen commented on #29
@JoeDravarol I've reviewed the bulletproof-react project structure. Seems pretty nice. How does it organize elements that are not currently in the front-end folder? Like controllers?

What other files will be contained in Root other than build, SRC, and Readme.md?

Additionally, this is going to directly conflict with #46 so we'll need to discuss the best way to move forward.

[2022-11-13 23:28] Caleb-Cohen commented on #32
Completed

[2022-11-13 23:28] #32 closed

[2022-11-14 00:32] JoeDravarol commented on #29
@Caleb-Cohen The bulletproof-react structure guidleline is only meant for the frontend/client directory anything that is server/backend related will have a it's own organization guidline that we need to agree on.

I have also replied to you at #46 with an example repository on how we should move forward with restructing of the project to make excecuting scripts seamless/easier for new developers.

[2022-11-14 14:35] Caleb-Cohen opened #54 "Update Add-Even-Form Branch Event.js in models to match the current add event form."

[2022-11-14 17:40] intelagense opened #55 "Add dummy JSON data for development."
We should be able to provide some dummy JSON data for the `npm run devstart` command to enable developers to test the code without needing discord auth or mongo secrets and keys

[2022-11-14 17:57] MatthewBozin opened #56 "Add React Router Page Structure"
This is an issue representing task 4 of issue #29

Add a React Router for routing between/adding new pages so that other collaborators would be able to add new pages with minimal setup.

- Add React Router and create a router in App.js that can route between pages.
- Create two dummy pages that can route between each other to demonstrate that it works and provide an example to contributors that wa

[2022-11-14 18:01] Caleb-Cohen commented on #56
Added to project board. Can you clarify a bit? I don't think I understand what this is doing.

[2022-11-14 18:10] MatthewBozin commented on #56
I've expanded this a bit for clarity. Do you have any questions in particular?

[2022-11-14 18:38] Caleb-Cohen opened #57 "test issue"
test

[2022-11-14 18:39] #57 closed

[2022-11-14 18:46] MatthewBozin opened #58 "Test Issue"
To test assigning/labeling/project adding.

Will be deleted when tests are done.

[2022-11-14 19:30] #58 closed

[2022-11-15 00:03] Caleb-Cohen commented on #56
Clarification helped with the first two, thanks for the link. Is Number 3 a guide to show people how to make new pages?

[2022-11-15 00:13] Caleb-Cohen opened #60 "Discord Invalid OAuth2 redirect_uri"
<img width="707" alt="Screen Shot 2022-11-14 at 6 12 37 PM" src="https://user-images.githubusercontent.com/75268174/201794481-1e8cee4b-4dc7-42b3-aeb1-145089e041b3.png">

[2022-11-15 00:22] WinstonHall commented on #60
Unless someone is planning to do a big authentication systems overhaul I would suggest cutting out the functionality that requires env_variables in place to run ex(Login, Logout, Auth etc...), unless someone is making a test environment that could be used by everyone.

[2022-11-15 00:26] Caleb-Cohen commented on #60
Good point. I think the auth system is important and can build out a test environment. Probably good to just have it regardless as we keep going deeper.

[2022-11-15 00:31] Caleb-Cohen commented on #55
I agree, let's finish the event form MVP and then can build some examples.

[2022-11-15 00:32] WinstonHall commented on #60
In my head I imagine you decouple one major thing, the back-end or front-end. I don't think the front-end will be bottle-necked as bad as it is currently with the required dev environment, which from what I could tell would be me opening another database/using my current mongo uri, and registering an app to discord to get an id and secret. That's not necessarily to bad, but if the other stuff usin

[2022-11-15 00:42] Caleb-Cohen commented on #60
Some sort of refractor will be required. I would just like to assess that after MVP. Currently, it's just mongo and discord, and discord is only required if you're helping with the auth portion, but spending some time to make it easier for people to plug into the same dev environment has some value.

[2022-11-15 00:51] WinstonHall commented on #60
Yea you wouldn't have to remove anything, honestly its not like the project has to have a group effort/commit pushed forward. Literally anyone with a fork/copy can comment that stuff out and isolate an environment to build out components & style them.

[2022-11-15 01:44] MatthewBozin commented on #56
Re: number 3: Yes exactly! I'll rephrase the issue so it's more clear.

[2022-11-15 01:48] MatthewBozin commented on #35
@Caleb-Cohen What things still need to be done for this issue?

[2022-11-15 01:50] Caleb-Cohen commented on #35
Event addition is not completed, but this was a poorly worded issue as it's not definite on the tasks. I'll close it now.

Instinct is working on the front end elements and then we'll need to adjust the schema to match.

[2022-11-15 01:51] #35 closed

[2022-11-15 21:11] WinstonHall commented on #60
I'm not sure when we call this thread kaput and where we carry on these conversation when that happens. To the second half of, what you said @Caleb-Cohen, yea I don't mind the idea of people forking around, I just thought we could at bare minimum have a dedicated branch and set up some more sorta rules on the branches to help prevent/alleviate problems. I think in a way it helps not just protect t

[2022-11-15 21:38] Caleb-Cohen commented on #60
Oops, sorry! I closed the Issue I fixed the Oauth redirect.

To carry on discussions like refactoring, next JS code standards, and dedicated branches I think those are better placed in the discussions. I would prefer to avoid bringing up more abstract problems that may require deeper discussions in the issues tab as I would prefer to open and close these issues more quickly. That said we do have t

[2022-11-15 23:44] WinstonHall commented on #55
This has some of that .env.development smell all over it.
We will be running one terminal for the entire Next project.

[2022-11-15 23:46] WinstonHall commented on #56
Deprecated / No longer relevant.

[2022-11-16 00:22] WinstonHall opened #63 "Git workflow & Repo protection."
There are settings you can add making code submitted be locked out from finalizing any sorta merge to our repo.
Example - one of the settings just gates the code until a set number of people sign off on the changes.
There are a few more but I'm drawing blank on it atm.

[2022-11-16 00:30] MatthewBozin commented on #56
@WinstonHall how is this deprecated?

[2022-11-16 00:35] WinstonHall commented on #56
We wont be using react-router, at least not what next gives us. unless they use react router dom under the hood. I hastily misread React Router for ReactRouterDom, and the third bullet point In the original post thats gonna be outline for us by design.

So maybe I should have said something like, could be updated at some point to fit our direction now.

[2022-11-16 14:11] Caleb-Cohen commented on #55
I'll take this on!

[2022-11-16 14:21] Caleb-Cohen commented on #44
@code2244 The task removing EJS and views folder is now open.

[2022-11-16 14:29] Caleb-Cohen commented on #63
I found the section you mention. Will talk with @intelagense and update.

[2022-11-16 14:32] Caleb-Cohen commented on #56
@WinstonHall There has not been a decision on Next yet. Can you post your Next template into [discussions](https://github.com/Caleb-Cohen/Together/discussions)?

[2022-11-16 14:47] Caleb-Cohen commented on #33
Refractor feedback also mentioned in #46:

- Get engines package so we can display node version to prevent conflicts
- Add package-lock to .gitignore
- Change file management to assist in separation of concerns between frontend and backend
- Update .ENV.Example to have more proper formatting
- Consider Vite for more efficient compiling
- Consider Nest for more seamless backend communication
- Remo

[2022-11-16 15:03] WinstonHall commented on #56
@Caleb-Cohen
      First question, the answer is do you want me to do it, if so I can start getting ready for that now while I coffee up.

      Second question, I wasn't sure if we was going to be waiting for a definitive decision on Next or not.
            Soooooo with that in mind if I'm gonna mess with Next I would like to be sure this time. I thought we came to some
            kind of agree

[2022-11-16 21:30] WinstonHall commented on #56
Commenting to elevate that this is stalled mostly due to not being sure if we are going to use a font & back end separated strategy or Next. Honestly I'm good getting around still to at least see the states work and all the components that dont live in auth territory.

[2022-11-16 22:19] Caleb-Cohen opened #65 "Fix Schema for updated add-event-form."

[2022-11-16 22:19] Caleb-Cohen commented on #65
@MatthewBozin

[2022-11-16 22:21] Caleb-Cohen commented on #48
Not the right time to do this.

[2022-11-16 22:21] #48 closed

[2022-11-16 22:28] Caleb-Cohen commented on #44
Depending on the edits I don't see a need to make a clone of main. I can make one for you to PR to if you would really like it. Please try to ensure that the PRs are solving one issue at a time. If you've completed the Views removal please PR it.

[2022-11-16 22:30] MatthewBozin commented on #65
Happy to work with @InstincDev on this!

[2022-11-16 22:38] Caleb-Cohen commented on #56
I think this will be a good discussion for Thursday, but you are right it is stalled because we have yet to make a decision on the direction.

[2022-11-16 22:47] Caleb-Cohen commented on #56
@WinstonHall can I assign you to see if we can make react router work for this? Let's talk on Thursday and see your thoughts.

[2022-11-16 22:54] code2244 commented on #55
I will like to help in this issue.

[2022-11-16 23:13] InstincDev commented on #65
We Got This!

[2022-11-17 00:15] WinstonHall commented on #56
In that environment, though my brain is fried I almost feel confident that it won't work or it will do even better and shit the bed because of how we have to wrap the react.

[2022-11-17 04:02] Caleb-Cohen commented on #65
Here is the format that I built. To model potential events, please let me know if this does not match the eventual result.

[code]

[2022-11-17 19:27] WinstonHall commented on #65
That looks good to me 👍

[2022-11-18 00:48] Caleb-Cohen opened #69 "Re-Organize file format"
Using this format: https://github.com/fullstack-hy2020/create-app

Task should be started shortly after we do the add-event-form merge, but you can start to familiarize yourself with the formatting required.

[2022-11-18 00:49] Caleb-Cohen commented on #63
Going to close this as we had a discussion and outline for some fixes. If there's more to discuss let's open a discussion.

[2022-11-18 00:49] #63 closed

[2022-11-18 00:59] Caleb-Cohen commented on #33
Going to break these into individual issues and we will be addressing them after the merge of add-event-form in less than 48 hours.

[2022-11-18 00:59] #33 closed

[2022-11-18 01:01] #54 closed

[2022-11-18 01:02] #55 closed

[2022-11-18 01:13] JoeDravarol commented on #38
I like to take on this issue.

[2022-11-18 01:14] Caleb-Cohen commented on #38
@code2244 please comment so I can assign as well.

[2022-11-18 01:15] code2244 commented on #38
Hi I will like to help in this issue.

[2022-11-18 04:07] Caleb-Cohen opened #72 "Remove monthly recurring from add-event-form inputs"
I'll update the JSON with @code2244. @InstincDev & @MattewBozin can you update the form?

[2022-11-18 04:28] Caleb-Cohen opened #73 "Use Discord auth to remove the ability to submit or access the add-event-form"

[2022-11-18 05:01] InstincDev commented on #72
I discussed with @MattewBozin and this will be taken care of tomorrow (11/18).

[2022-11-18 16:29] Caleb-Cohen opened #76 "Update .env.example to include instructions on not to delete"
Fork from the Add-Event-Form branch. When completed, pull request into the Add-Event-Form *not main.* Instructions on how to contribute can be found [here](https://github.com/Caleb-Cohen/Together/blob/main/CONTRIBUTING.md)

Add `//Please copy and paste this template into a new .env file instead of removing .example from the file name` to the first line of the .env.example file.

Additionally, chan

[2022-11-18 16:30] JoeDravarol opened #77 "Tasks Tracker for Re-organize project structure"
This issue will be used for tracking all the task related to re-organizing the project structure. An issue should be created for each task referencing back to this issue. Example: `This is an issue representing task {x} of issue #77`

We will be using this starter repo as a guideline to re-organize the project structure: https://github.com/fullstack-hy2020/create-app

Note: Task should be started

[2022-11-18 16:32] JoeDravarol commented on #69
Tasks related for this issue can be found here #77.

This issue only entail:
* Creating a server folder and move anything backend related into said folder.

[2022-11-18 16:36] JoeDravarol commented on #69
@Caleb-Cohen Hope you are alright with this and approve of the spliting all of the main re-organizing task into separate issue and PR so that it will be easier to manage.

[2022-11-18 16:54] #44 closed

[2022-11-18 16:55] Caleb-Cohen commented on #77
What about adding the remants of #29 to this?

[2022-11-18 16:57] JoeDravarol commented on #77
I added/moved the tasks related to re-organizing project structure from #29 to this tracker. If this is what you meant? And the tasks that was relocated here is removed from #29

[2022-11-18 17:07] Caleb-Cohen commented on #77
@JoeDravarol doesn't #29 also include Skeletal?

[2022-11-18 17:25] JoeDravarol commented on #77
That would be more feature based/React specific. That task is building our routing for landing page and calendar page, I don't think we should associate it wtih re-organizing the project structure but we can ask for @MatthewBozin for his input on this.

[2022-11-18 17:41] Caleb-Cohen commented on #76
All yours!

[2022-11-18 18:11] Caleb-Cohen opened #79 "Fix JSON Data since Add-event-form has been updated"
With PR #78 The model has changed and JSON needs to be updated for testing.

[2022-11-18 18:15] MatthewBozin commented on #79
Current JSON format:

[code]
Change requested: change 'recurringDates' key name to 'recurring'.

[2022-11-18 18:33] Caleb-Cohen commented on #79
@MatthewBozin

[code]

Returns

[code]

Can we take a look at the layout? endTime before startTime seems a little counter-intuitive.

[2022-11-19 00:14] code2244 commented on #38
I'm available in the weekend too.

[2022-11-19 16:40] #76 closed

[2022-11-19 16:41] #72 closed

[2022-11-19 16:45] Caleb-Cohen commented on #77
@JoeDravarol It doesn't matter to me if we keep the frontend folder the same or rename it to client. Does anyone have a preference?

[2022-11-19 16:47] #65 closed

[2022-11-19 18:31] MatthewBozin commented on #77
@JoeDravarol I think we should keep the react skeleton as it's own thing

@Caleb-Cohen my preference is to rename frontend folder to client

[2022-11-19 19:53] JoeDravarol opened #83 "Re-organize React files/folders with Bulletproof React guideline"
This is an issue representing task 3 of issue #77

# Task
* Re-organize files/folders to match [Bulletproof React](https://github.com/alan2207/bulletproof-react/blob/master/docs/project-structure.md) project structure.
* Configure the project to use [absolute import](https://saurabhshah23.medium.com/react-app-with-absolute-paths-using-jsconfig-json-2b07b1cb24d4); set to baseUrl to `src` and a glob

[2022-11-19 22:38] Caleb-Cohen commented on #83
I'll start working on this. Can assign to anyone else that's also interested.

[2022-11-19 22:39] Caleb-Cohen opened #84 "Have event form grab auth information for display name"
**Please provide a summary of the feature**
When the user is completing the add-event form have the form use the logged-in user's discord display name instead of having it manually entered.

**Are there any potential issues you foresee with this feature**
I could foresee some issues with how the backend interacts with the frontend.

**Is this feature related to any current or past issues? Please p

[2022-11-19 23:50] Caleb-Cohen commented on #83
I've got PR #85. We need to assess the build folder location because we are server-side rendering.

[2022-11-19 23:52] Caleb-Cohen commented on #69
I've got PR https://github.com/Caleb-Cohen/Together/pull/85. We need to assess the build folder location because we are server-side rendering.

[2022-11-19 23:53] #69 closed

[2022-11-20 03:25] Caleb-Cohen commented on #77
Ok, that's what I went with.

[2022-11-20 03:32] Caleb-Cohen commented on #38
@code2244 @JoeDravarol We doing this tomorrow?

[2022-11-20 03:37] Caleb-Cohen commented on #83
@JoeDravarol are we abandoning absolute import?

[2022-11-20 05:26] code2244 commented on #38
Yes, I will be at discord after 2pm possibly all day

[2022-11-20 12:05] JoeDravarol commented on #83
No. Absolute import has been configured for the project in #86 with `jsconfig.json`. We are abandoning the [import alias path](https://stackoverflow.com/a/63068531) that was part of [Bulletproof React project configuration](https://github.com/alan2207/bulletproof-react/blob/master/docs/project-configuration.md#absolute-imports) guideline due to [CRA](https://create-react-app.dev/docs/getting-start

[2022-11-20 14:54] Caleb-Cohen commented on #83
I have them in my repo. You cannot add empty folders to a Git repo. https://git.wiki.kernel.org/index.php/GitFaq#Can_I_add_empty_directories.3F

[2022-11-20 15:32] #83 closed

[2022-11-20 15:33] Caleb-Cohen opened #89 "BuB Refractor Day"
Today we're focusing on removing Binary Upload Boom remnants that are no longer functionally necessary for Together. We felt this was a good opportunity to have some of the newcomers get more familiar with the project structure.

Task:
- Fork the Refractor branch
- Remove files and code lines related to
- PR back to Refractor Branch

Binary Upload Boom (BuB) is a template provided by Leon and func

[2022-11-21 16:41] intelagense opened #92 "addEvent form data and event.js schema adjustments determined while working on calendar view"
Modifications for MVP readiness.

General guidelines are below.

addEvent form can combine "date" and "startTime" into a single date object key-value pair ("seedDate" in the schema) for the "seed" date before storing it in MongoDB (reference "date" in current dummy JSON)

We will be able to calculate recurring events based on the time and day of the seed date

Can remove or comment out endTime for

[2022-11-21 16:42] intelagense commented on #92
@InstincDev @MatthewBozin 👀 let me know if you have time for this.

[2022-11-21 18:56] WinstonHall commented on #56
Has this topic changed any? Can we assume it can be written in a front-end way, or have we decided if this will be a server side rendered thing?

[2022-11-21 19:03] WinstonHall commented on #56
If we deploy the front and back separately then I would suggest react-router-dom. I haven't had the time or need to learn their current version v6 https://reactrouter.com/en/main, but I'm familiar with their previous version v5 https://v5.reactrouter.com/web/guides/quick-start.

 They have a node solution in in the more current version, but I'm not use to doing routing in the back-end outside of u

[2022-11-21 21:24] MatthewBozin commented on #92
Can you provide an example of what a "seedDate" would look like?

[2022-11-21 22:17] JoeDravarol opened #96 "Co-locate all the dependencies into root folder."
### Discussed in https://github.com/Caleb-Cohen/Together/discussions/88

### Summary

Combine both frontend and backend dependencies into one package.json at the root folder.

[code]

[2022-11-22 00:38] intelagense commented on #92
https://github.com/Caleb-Cohen/Together/blob/refractor/client/src/test/events.json

@MatthewBozin right now we have a javascript date object for each event in the dummy data.

      "date": "2022-12-08T03:01:59.368Z",

I  believe this is ISO 8601

[2022-11-22 00:39] intelagense commented on #92
The seed date can be in this format because it will include the date and time of the _first_ occurrence of the recurring event.

[2022-11-22 03:12] JoeDravarol opened #98 "Update package.json name & description"
# Summary
Update the root package.json file name and description.

# Task
* Change **name** from `binary-upload-boom` to `Together`.
* Update the description to explain what Together is. A description can be found in the repo or in the **Readme.md** file.

# To contribute
Fork from the `refractor` branch. When completed, make a pull request comparing to the `refractor` branch. Instructions on how

[2022-11-22 20:28] Caleb-Cohen commented on #77
@JoeDravarol are there any outstanding tasks left here?

[2022-11-23 04:20] Caleb-Cohen commented on #98
fixed in #101

[2022-11-23 04:20] #98 closed

[2022-11-23 04:21] Caleb-Cohen commented on #96
Good to close?

[2022-11-23 12:38] #96 closed

[2022-11-23 12:52] JoeDravarol opened #103 "Fix json-server path location."
# Summary
Currently the `dev` script in the client folder is pointing to the incorrect json file. We need to fix that by pointing back to the correct test json-server file and remove the z-code tutorial json file.

# Tasks
## Step 1
* Delete `client/src/services/events.json`.
* Update the client package.json file `dev` script path pointing to `src/test/events.json`.
* Test that the script work as

[2022-11-23 18:44] code2244 commented on #103
I will like to work on this issue.

[2022-11-24 01:10] Caleb-Cohen commented on #103
Fixed by @code2244

[2022-11-24 01:10] #103 closed

[2022-11-24 01:22] JoeDravarol commented on #77
Close as completed.

[2022-11-24 01:22] #77 closed

[2022-11-24 02:57] Caleb-Cohen opened #106 "Users are having errors when logging in via discord"
Returning error post login. Looks like it has something to do with duplicate usernames into the schema. The only user in the database is my user.

[code]
## Task
- Fork the development branch
- Investigate what is causing this error
- Implement fix and pull request to development branch

[2022-11-24 03:13] JoeDravarol commented on #106
A potential fix is to update User model `displayName` to non-unique. Although it is very unlikely, it is possible that 2 Discord user can have the same display name and discord tag.

[2022-11-24 04:29] Caleb-Cohen commented on #106
[code]

[2022-11-24 04:59] Caleb-Cohen commented on #106
Had to drop the user collection to resolve.

[2022-11-24 04:59] #106 closed

[2022-11-24 19:51] #89 closed

[2022-11-26 16:48] intelagense commented on #92
(linking this issue to discussion #108)

[2022-11-26 19:15] #73 closed

[2022-11-26 19:32] Caleb-Cohen opened #109 "Use login auth to prevent users from completing the add-event-form"
**Please provide a summary of the feature**
Only logged-in users should be able to complete the add-event form. The form can be hidden or just locked from submission. The choice is yours.

**Are there any potential issues you foresee with this feature**
I could foresee some issues with how the backend interacts with the frontend.

**Is this feature related to any current or past issues? Please pro

[2022-11-26 19:37] #42 closed

[2022-11-26 19:40] Caleb-Cohen opened #110 "Assess date packages to streamline date & time"
**Please provide a summary of the feature**
Explore and implement date package managers like [Date-fns](https://date-fns.org/) to handle date calculations and localizing time to users.

**Are there any potential issues you foresee with this feature**
Plenty. Date and time conflicts, how will date-fns handle dates that cross day boundaries, etc.

**Is this feature related to any current or past iss

[2022-11-26 19:45] Caleb-Cohen opened #111 "Add end-date to the form & model schema"
**Please provide a summary of the feature**
Title is satisfactory

**Are there any potential issues you foresee with this feature**
Confirm MongoDB is accepting the updated model.

**Is this feature related to any current or past issues? Please provide the #**
Add event form: #82

*If you're interested in working on this feature, please comment so you can be assigned*

[2022-11-26 19:53] Caleb-Cohen opened #112 "Create Modal/Popout for events so users can view more information."
**Please provide a summary of the feature**
Currently, the calendar only shows the time and event title. Users need to be able to see more event information like description, who's coordinating the event, and where the event will be. We will call this the event-details views

**Additional context**
Natalie provided a really good design here that can be used later, the only thing missing is the use

[2022-11-27 02:51] InstincDev commented on #112
I would like to take on this issue.

[2022-11-27 03:19] Caleb-Cohen commented on #112
All yours!

[2022-11-28 15:37] WinstonHall commented on #109
beep

[2022-11-28 15:37] WinstonHall commented on #84
beep

[2022-11-28 15:39] Caleb-Cohen commented on #84
boop

[2022-11-28 20:15] intelagense opened #114 "docs: Rewriting CONTRIBUTING.md with development branch instructions"
CONTRIBUTING.md needs a refactor.

[2022-11-29 17:01] #114 closed

[2022-11-29 20:12] Caleb-Cohen opened #116 "Investigate if we can function without the build folder in the developer enviroment."
**Please provide a summary of the feature**
There's been some discussion that we do not need the build folder or the `npm run build` command for the developer environment. I have no been able to get the login with discord to work while running the client and server without a build folder.

**Are there any potential issues you foresee with this feature**
It's my understand the backend needs the bui

[2022-11-30 03:07] Caleb-Cohen commented on #56
@MatthewBozin @WinstonHall closing this issue due to no longer needed.

[2022-11-30 03:07] #56 closed

[2022-11-30 03:08] Caleb-Cohen commented on #79
This has been addressed.

[2022-11-30 03:08] #79 closed

[2022-11-30 03:21] Caleb-Cohen commented on #110
@MatthewBozin as discussed this is an option to work on.

[2022-11-30 03:27] Caleb-Cohen commented on #29
@JoeDravarol Can we close this?

[2022-11-30 04:24] Caleb-Cohen opened #120 "Get feature/JsonTest Stable"
**Describe the bug**
JsonTest was a merge of development-eventPropagate to remove conflicts and resume work.

JsonTest is having some issues rendering the calendar properly and a few lint errors. @JoeDravarol and @code2244 I do not know what shape development-eventPropagate was left it, so I would like you to to assess if possible.

**To Reproduce**
Steps to reproduce the behavior:
Execute standar

[2022-11-30 15:42] Caleb-Cohen opened #121 "Landing Page Front End"
**Please provide a summary of the feature**
This task is to develop and implement a landing page using @Natashka333 design located [Here.](https://github.com/Caleb-Cohen/Together/discussions/17) Please use React for the landing page.

This issue is for the front end only. While we'll need a button, it doesn't need to work.

**Are there any potential issues you foresee with this feature**

**Is thi

[2022-11-30 16:44] Caleb-Cohen commented on #116
This has been confirmed as possible. Opening new and better-structured issue to assign.

[2022-11-30 16:44] #116 closed

[2022-11-30 20:18] HondaChan14 commented on #121
Hello could I help contribute to this? :o

[2022-11-30 21:30] Caleb-Cohen commented on #121
Yes! Please PR into [feature/landingPage](https://github.com/Caleb-Cohen/Together/tree/feature/landingPage)

[2022-11-30 22:23] Caleb-Cohen opened #122 "Have Together Not Require a Build Folder in Development"
**Please provide a summary of the feature**
We want to cease using the build folder for development, but to do that.

1. The `Login with discord` needs to work from localhost:3000 (Frontend). Currently, the button only works out of `localhost:2121`.
2. The `Login with discord` button needs to redirect back to `localhost:3000`
3. These changes need to catch if we're running in development or produc